@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;

	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;

	font-family: sans-serif;	
}

body {
	text-align: center;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.icon{
	display: block;
	padding: .5em;
	text-decoration: none;
	color: grey;
}
.module {
	border: 1px solid black;
	width: 2em;
	text-align: center;
	margin-left: .5em;
	max-width: 10em;
	position: relative;

	margin-top: 1em;
}

.app {
	border: 1px solid black;
	max-width: 50em;

	/*background-image: url(../images/drawing.jpg);*/
	background-repeat:  no-repeat;
	height: 50em;
	position: relative;
}

.drawing {
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	top: 10%;

}

.heading {
background-color: grey;
margin: 0;

}